  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }      

  body{
      background-color: cornsilk;
      font-family: 'Times New Roman', Times, serif;
  }

  .header{
      background-color: maroon;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
 
     
      
  }
  .header a {
      font-size: 40px;
      color: #fff;


  }
    #currentTime {
           font-size: 20px;
           color: #ffff;
    }





        #wrapper {
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
      
       
        }
        #wrapper .content{
           margin-top: 50px;
         width: 50%;
            height: 500px;
            border-radius: 20px;
            background-color: paleturquoise;
            display: flex;
            justify-content: center;
        
            
         
        }
        #startTime {
            background-color: maroon;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
          margin-left: 30%;

            
            


            
            
        }
        #startTime:hover{
           background-color: lemonchiffon;
           color: black;
        }
        #questionsDiv {
          margin-top: 50px;;
            font-size: 25px;
            width: 70%;
        }
        #questionsDiv h1{
            font-size: 40px;
            text-decoration: underline;
           
        }
        #questionsDiv p {
            font-size: 20px;
            text-align: center;
            padding: 20px;
            
            
        }
       

      


            
            


     
            
           
            
        

        #goBack {
            background-color: purple;
            position: relative;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            left: 55%;
            width: auto;
            text-align: center;
            text-decoration: none;
        }



        #clear {
            background-color: purple;
            position: relative;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            right: 5%;
            text-align: center;
        }

        button {
            border-radius: 8px;
        }

        textarea {
            width: 90%;
            margin: 20px;
        }

        #Submit {
            background-color: purple;
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
        }

        label {
            margin-right: 20px;
        }
        input {
            margin-bottom: 20px;
            width: 50%;
            border: 1px solid lightgray;
        }

        h1 {
            text-align: center;
           
        }

        li {
            background-color:steelblue;
            margin: 20px;
            margin-left: 20px;
            padding: 5px 15px;
            width: 50%;
            font-size: 22px;
            color: white;
        }
        li:hover{
            background-color: lemonchiffon;
            color: black;
         }
        

        #createDiv {
            margin-top: 20px;
            border-top: 1px solid lightgray;
        }
 

    @media screen and (max-width: 900px) {
        
        
        .header a {
            font-size: 30px;
            color: #fff;
            margin-left: 0;
        }
        #wrapper {
           width: 100%;
           
          
          
           
        
         }
         #wrapper .content{
            margin-top: 50px;
             width: 100%;
             height: 500px;
             top: 50px;
           
          
             
          
         }
         #startTime {
         
          margin-left: 32%;
            
        }
        #questionsDiv {
            margin-top: 50px;
             font-size: 20px;
             width: 50%;
            
         }
         #questionsDiv h1{
             font-size: 30px;
           
             text-align: center;
            
         }
         #questionsDiv p {
             font-size: 15px;
             text-align: center;
             padding: 20px;
             
             
         }
         #createDiv {
            margin-top: 20px;
            border-top: 1px solid lightgray;
           
        }
        
    }

    @media screen and (max-width: 500px) {
        
        
        .header a {
            font-size: 15px;
            color: #fff;
            margin-left: 0;
        }
        #wrapper {
           width: 100%;
           
          
          
           
        
         }
         #wrapper .content{
            margin-top: 50px;
             width: 100%;
             height: 500px;
             top: 50px;
           
          
             
          
         }
         #startTime {
         
          margin-left: 20%;
          font-size: 20px;
            
        }
        #questionsDiv {
            margin-top: 50px;
             font-size: 20px;
             width: 50%;
            
         }
         #questionsDiv h1{
             font-size: 24px;
           
             text-align: center;
            
         }
         #questionsDiv p {
             font-size: 20px;
             text-align: center;
           
             
             
         }
         #createDiv {
             margin-top: 50px;
            margin-top: 20px;
            border-top: 1px solid lightgray;
           
        }
        li {
            
           font-size: 14px;
        }
         

    }

    @media screen and (max-width: 400px) {
        
        
        .header a {
            font-size: 15px;
            color: #fff;
            margin-left: 0;
        }
        
         #wrapper .content{
            margin-top: 50px;
             width: 100%;
             height: 500px;
             top: 50px;
         
           
          
             
          
         }
         #startTime {
         
          margin-left: 20%;
          font-size: 15px;
            
        }
        #questionsDiv {
            margin-top: 50px;
             font-size: 15px;
             width: 50%;
            
         }
         #questionsDiv h1{
             font-size: 20px;
            
            
           
             
            
         }
         #questionsDiv p {
             font-size: 15px;
            
             
           
           
             
             
         }
         #createDiv {
             margin-top: 50px;
            margin-top: 20px;
            border-top: 1px solid lightgray;
           
        }
        li {
            
           font-size: 14px;
        }
         

    }